<!DOCTYPE html>
<html>

<head>
    {{ partial "head.html" . }}
    <title>{{ .Title | markdownify }}</title>
</head>

<body>
    <nav role="navigation" class="flex-container" id="splash">

        {{ if .Site.Params.mainMenu }}
        {{ range .Site.Params.mainMenu }}
            <a href="{{.link}}" class="big-link">
                {{.text}}
            </a>
        {{ end }}

        {{ else }}
        {{ range .Site.Sections }}
            <a href="{{.RelPermalink}}" class="big-link"><b>
                {{.Title | markdownify}}
            </b></a>
        {{ end }}
        {{ end }}

    </nav>
</body>
</html>
<!DOCTYPE html> <html> <head> <title>Title</title> <meta charset="utf-8"> <style> @import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz); @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic); @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic); body { font-family: 'Droid Serif'; } h1, h2, h3 { font-family: 'Yanone Kaffeesatz'; font-weight: normal; } .remark-code, .remark-inline-code { font-family: 'Ubuntu Mono'; } </style> </head> <body> <textarea id="source"> class: center, middle ## Judul --- # Jadi begini 1. Introduction 2. Deep-dive 3. ... --- # Introduction </textarea> <script src="https://remarkjs.com/downloads/remark-latest.min.js"> </script> <script> var slideshow = remark.create(); </script> </body> </html>
